/* BOOK */

.book__poster {
  object-fit: cover;
}

.book__info-item::before {
  content: '';
  width: 24px;
  height: 24px;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.book__info-item::before {
  background-image: url('../img/icon-globe.svg');
}

.book__info-item::before {
  background-image: url('../img/icon-place.svg');
}

.book__info-item::before {
  background-image: url('../img/icon-calendar.svg');
}